<div class="container mt-5">
    <h1 class="display-4">New Product Form</h1>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
     <!-- Product Name field -->
      <div class="mb-3">
        <label for="productName" class="form-label">Product Name (max 50 characters):</label>
        <input id="productName" formControlName="productName" type="text" class="form-control">
      <!-- Validation error messages for Product Name -->
        <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" class="text-danger">
          <small *ngIf="productForm.get('productName')?.errors?.['required']">Product name is required.</small>
          <small *ngIf="productForm.get('productName')?.errors?.['required']">Product name should be at most 50 characters.</small>
        </div>
      </div>
     <!-- Product ID field --> 
      <div class="mb-3">
        <label for="productId" class="form-label">Product ID (max 13 digits):</label>
        <input id="productId" formControlName="productId" type="number" class="form-control">
        <div *ngIf="productForm.get('productId')?.invalid && productForm.get('productId')?.touched" class="text-danger">
          <small *ngIf="productForm.get('productId')?.errors?.['required']d">Product ID is required.</small>
          <small *ngIf="productForm.get('productId')?.errors?.['required']">Product ID should be at most 13 digits.</small>
        </div>
      </div>
     <!-- Product Manager field -->
      <div class="mb-3">
        <label for="productManager" class="form-label">Product Manager (max 30 characters):</label>
        <input id="productManager" formControlName="productManager" type="text" class="form-control">
      <!-- Validation error  for Product Manager -->
        <div *ngIf="productForm.get('productManager')?.invalid && productForm.get('productManager')?.touched" class="text-danger">
          <small *ngIf="productForm.get('productManager')?.errors?.['maxlength']">Product manager should be at most 30 characters.</small>
        </div>
      </div>
    <!-- Sales Date field --> 
      <div class="mb-3">
        <label for="salesStartDate" class="form-label">Sales Start Date:</label>
        <input id="salesStartDate" formControlName="salesStartDate" type="date" class="form-control">
      <!-- Validation error messages for Sales Start Date -->
        <div *ngIf="productForm.get('salesStartDate')?.invalid && productForm.get('salesStartDate')?.touched" class="text-danger">
          <small *ngIf="productForm.get('salesStartDate')?.errors?.['required']">Sales start date is required.</small>
        </div>
      </div>
        <!-- Submit button -->
      <button type="submit" class="btn btn-outline-primary me-2">Submit</button>
        <!-- Clear button -->
      <button type="button" (click)="onClear()" class="btn btn-outline-secondary">Clear</button>
    </form>
        <!-- Product List table -->
    <!-- <h2 class="mt-5">Product List</h2> -->
    <table class="table table-bordered table-striped mt-3 text-center" id="tableId">
      <thead class="table-secondary">
        <tr>
          <th>Product Name</th>
          <th>Product ID</th>
          <th>Product Manager</th>
          <th>Sales Start Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
         <!-- products array -->
        <tr *ngFor="let product of products">
          <td>{{ product.productName }}</td>
          <td>{{ product.productId }}</td>
          <td>{{ product.productManager }}</td>
          <td>{{ product.salesStartDate }}</td>
          <!-- Edit button -->
          <td ><button type="button" class="btn btn-outline-success" (click)="editProduct(product)">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  